body{
    background-color: #2d2d2d;
}

.sidebar{
    width: 350px;
    min-height: 100vh;
    left: -400px;
    overflow:hidden;
    background-color: rgb(218, 218, 218);
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}

.logo-open:hover{
    transition:all 0.3s;
    cursor: pointer;
    transform: rotate(180deg);
}

.logo-open{
    position: absolute;
    transition:all 0.3s;
    transform: rotate(90deg);
}

.logo-close{
    transition: 0.3s;
    cursor: pointer;
}

.logo-close:hover{
    transform: rotate(720deg);
    transition: 1s;
}

.sidebar.opened{
    opacity: 1;
    left: 0;
}

span.h-custom{
    font-size: 1.5em;
    transition: 0.3s;
}
span.h-custom:hover{
    transition: 0.3s;
    letter-spacing: 2px;
}

.custom-logo{
    transform: rotate(180deg);
    transition: 0.3s;
}

.custom-logo:hover{
    transition: 0.3s;
    transform: rotate(360deg);
}